*{
    margin: 0;
    padding: 0;
} 

#imagen-consola{
    position: absolute;
    z-index: -1;
    margin-left: 40px;
    height: 600px;
    width: 350px;
    background-color: purple;
    border-radius: 10px 10px 50px 10px;
}

.main-conteiner{
    margin-top: 10px;
    position: relative;
    display: flex;
    width: 100%; 
    height: 100vh;
}

.conteiner{
    height: 600px;
    width: 400px;
    border-color: grey;
 }

.ligths-power{
    flex-direction:column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

#light-power-off-on{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: red;
}

.main-conteiner-display{
    
    display: flex;
    justify-content: center;
}

.conteiner-display{
    /* margin-top: 40px; */
    position: relative;
    height:250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    margin-top: 30px;
    
}
#display{
    display: flex;
    justify-content: center;
    height: 170px;
    width: 170px;
    background-color: rgba(127, 255, 212, 0.418);
    
}

.container-btn{
    width: 350px; 
    height: 140px;
    margin-top: 30px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;

}

.btn-scroll{
    margin-top: 30px;
    margin-left: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
}
.btn-up-down{
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 90px;
    width: 40px;
    margin-left: 10px;

}

.btn-up, .btn-down, #btn-left, #btn-right{
    background-color: rgba(0, 0, 0, 0.413);
    height: 30px;
    width: 30px;
    text-align: center;
}

.btn-left-right{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 90px;
}

.conteiner-btn-non-fun{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.btn-non-fun{
    transform: rotate(-30deg);
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 130px;
    width: 130px;
}

.btn-a{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 0, 0.766);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.btn-b{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.81);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.conteiner-btn-restart-power{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    
}

.btn-restart-power{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:aqua; */
    height: 25px;
    width: 100px;
}

#btn-restart, #btn-power {

    background-color:rgba(128, 0, 128, 0.555);
    color: aliceblue;
}

.conteiner-audio{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    /* background-color: yellow; */
    margin-right: 30px;
}

.audio{
    transform: rotate(-30deg);
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 80px;
    margin-right: 10px;
}

.rectangle1, .rectangle2, .rectangle3{
    height: 50px;
    width: 10px;
    background-color: rgb(110, 110, 110);

}

#displayChange{
    width: 170px;
    height: 170px;
}

.color-select{

    display: flex;
    color: beige;
    justify-content:space-around;

    
    
}

#color-grey, #color-purple, #color-green{
    color: aliceblue;
    height: 20px;
    width: 20px;
    /* background-color: blue; */
    border-radius: 50%;
}
#color-grey{
 background-color: #A6ACAF;
}

#color-purple{
 background-color: #8E44AD;
} 

#color-green{
    background-color: #138D75;
}